/*УУУУУ моё первый css файл 76*/
body {
background: lightcyan;
width: 800px;
margin: auto;
}
div.contact{
float: right;
}
img{
float: right;
}
h1 {
color: maroon;
text-align: center;
font-size: xx-large;
}
p {
color: gray;
border: 1px solid gray;
padding: 10px;
}
p.selected {
color: green;
}
a {
color: cornflowerblue;
font-family: 'Kosugi', sans-serif;
}
a:visited {
color: tomato;
font-family: 'Kosugi', sans-serif;
}
a:hover {
text-decoration: underline;
font-size: larger;
}
ol li {
border: 5px solid darksalmon;
border-radius: 10px;
}